@use 'consts/color';


.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: color.$ui-gray-darkest;
}


.logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
}


.text {
  margin: 0;
  margin-bottom: 0.5rem;
}
