@use 'consts/color';


.root {
  display: flex;
  align-items: center;
}


.button {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button[value="true"] {
  color: color.$ui-gray-dark;
}

.button[value="true"]:hover,
.button[value="false"] {
  color: color.$ui-yellow;
}
