$default-white: #FFFFFF;
$default-black: #000000;


$ui-white: $default-white;
$ui-black: #121212;

$ui-gray-darkest: #818181;
$ui-gray-dark: #a4a4a4;
$ui-gray-light: #e3e3e3;
$ui-gray-lightest: #f7f7f7;

$ui-blue-dark: #2b63fd;
$ui-blue-light: #3992ff;

$ui-yellow: #eeb004;
$ui-red: #f44250;


$text-default: $ui-black;
$bg-default: $default-white;
