@use 'consts/color';


.sidebar {
  display: flex;
  flex-direction: column;
  width: 22rem;
  background-color: color.$ui-gray-lightest;
  border-right: 1px solid color.$ui-gray-light;
}


.sidebarItem {
  padding: 1rem 2rem;
}

.sidebarItem_separated {
  border-top: 1px solid color.$ui-gray-light;
  border-bottom: 1px solid color.$ui-gray-light;
}


.logoWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  order: 1;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
}


.logo {
  width: 35px;
  height: auto;
}


.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.contacts {
  flex: 1;
}


.content_isLoading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}
