@use 'consts/color';


@keyframes progress {
  0%,
  100% {
    background-color: color.$ui-gray-light;
  }

  50% {
    background-color: color.$ui-gray-dark;
  }
}


.root {
  overflow: auto;
}


.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}


.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  color: inherit;
  text-decoration: none;
  white-space: pre;
  border-radius: 8px;
  overflow: hidden;
  transition: background-color 100ms;

  &:hover {
    background-color: color.$ui-gray-light;
  }
  
  &:global(.active) {
    color: color.$ui-white;
    background-color: color.$ui-blue-dark;
  }
  
  &:global(.pending) {
    animation: progress 2s infinite ease-in-out;
    animation-delay: 200ms;
  }
}


.favoriteMark {
  color: color.$ui-yellow;
  
  .link:global(.active) & {
    color: inherit;
  }
}


.emptyMessage {
  margin: 0;
  color: color.$ui-gray-darkest;
}
